*.pt filter=lfs diff=lfs merge=lfs -text
Prototyping_reformat/DatasetAnalysis/HyperKvasir/2_supervised_finetuning/out/best_vit.pt filter=lfs diff=lfs merge=lfs -text
Prototyping_reformat/DatasetAnalysis/HyperKvasir/2_supervised_finetuning/out/best_resnet.pt filter=lfs diff=lfs merge=lfs -text
Prototyping_reformat/DatasetAnalysis/HyperKvasir/2_supervised_finetuning/out/*.pt filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
Prototyping_reformat/DatasetAnalysis/Kvasir_VQA_x1/2_modeling/blip_baseline/out/predictions_blip_sample.csv filter=lfs diff=lfs merge=lfs -text
Prototyping_reformat/DatasetAnalysis/Kvasir_VQA_x1/2_modeling/blip_baseline/out/predictions_blip_yesno.csv filter=lfs diff=lfs merge=lfs -text
